<a href="https://colab.research.google.com/github/Ferrariagustinpablo/Python-Machine-Learning-notebooks/blob/main/Preprocessing_for_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pre-processing comes after cleaning and exploratory data analysis (EDA) to understand you data set.

This is preparing data for modeling.

Models require only numerical imput.

# EDA

In [ ]:
import pandas as pd

df = pd.read_csv('https://assets.datacamp.com/production/repositories/1816/datasets/668b96955d8b252aa8439c7602d516634e3f015e/volunteer_opportunities.csv')
df.head()

   opportunity_id  content_id  vol_requests  ...  BIN BBL  NTA
0            4996       37004            50  ...  NaN NaN  NaN
1            5008       37036             2  ...  NaN NaN  NaN
2            5016       37143            20  ...  NaN NaN  NaN
3            5022       37237           500  ...  NaN NaN  NaN
4            5055       37425            15  ...  NaN NaN  NaN

[5 rows x 35 columns]

In [ ]:
print(df.shape)
print(df.columns)
print(df.isnull().sum())

(665, 35)
Index(['opportunity_id', 'content_id', 'vol_requests', 'event_time', 'title',
       'hits', 'summary', 'is_priority', 'category_id', 'category_desc',
       'amsl', 'amsl_unit', 'org_title', 'org_content_id', 'addresses_count',
       'locality', 'region', 'postalcode', 'primary_loc', 'display_url',
       'recurrence_type', 'hours', 'created_date', 'last_modified_date',
       'start_date_date', 'end_date_date', 'status', 'Latitude', 'Longitude',
       'Community Board', 'Community Council ', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')
opportunity_id          0
content_id              0
vol_requests            0
event_time              0
title                   0
hits                    0
summary                 0
is_priority           603
category_id            48
category_desc          48
amsl                  665
amsl_unit             665
org_title               0
org_content_id          0
addresses_count         0
locality               70
region                  0
postalcode              6
primary_loc           665
display_url             0
recurrence_type         0
hours                   0
created_date            0
last_modified_date      0
start_date_date         0
end_date_date           0
status                  0
Latitude              665
Longitude             665
Community Board       665
Community Council     665
Census Tract          665
BIN                   665
BBL                   665
NTA                   665
dtype: int64

In [ ]:
# Selecting rows where category_desc are all not null values.

# Check how many values are missing in the category_desc column
print(df["category_desc"].isnull().sum())

# Subset the volunteer dataset
df = df[df["category_desc"].notnull()]

# Print out the shape of the subset
print(df.shape)

0
(617, 21)

In [ ]:
df.dtypes

opportunity_id          int64
content_id              int64
vol_requests            int64
event_time              int64
title                  object
hits                    int64
summary                object
category_id           float64
category_desc          object
org_title              object
org_content_id          int64
addresses_count         int64
region                 object
display_url            object
recurrence_type        object
hours                   int64
created_date           object
last_modified_date     object
start_date_date        object
end_date_date          object
status                 object
dtype: object

In the volunteer dataset, we're thinking about trying to predict the category_desc variable using the other features in the dataset. First, though, we need to know what the class distribution (and imbalance) is for that label.

# Handling missing values

In [ ]:
df.category_desc.dropna(axis=0,inplace=True)
df.dropna(axis=1,inplace=True)

# Stratify in splitting if there is uneven labeling on target variable

In [ ]:
# The distribution is UNEVEN. 
# So if I train_test_split I should stratify the target dataset. In this case 'y'

from sklearn.model_selection import train_test_split

df.category_desc.value_counts()

# Create a data with all columns except category_desc
X = df.drop("category_desc", axis=1)

# Create a category_desc labels dataset
y = df[["category_desc"]]

# Use stratified sampling to split up the dataset according to the y dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

# Print out the category_desc counts on the training y labels
print(y_train["category_desc"].value_counts())

Strengthening Communities    230
Helping Neighbors in Need     89
Education                     69
Health                        39
Environment                   24
Emergency Preparedness        11
Name: category_desc, dtype: int64

# Standardize

When to standardize:

Scikit-learn models assume normally distributed data

Log normalization and feature scaling in this course

Applied to continuous numerical data

Space like KNN, linearRegression or K-Means clustering, the model is assuming that the data and features are related in a linear fashion.

Standardize when features have high variance or features are in different scales.
Standardization is a preprocessing task performed on numerical, continuous data

## Log normalization

Is a method for standardizing data can be useful when you have a particular column with high variance.

Transforms values onto a scale that approximates normality. Capture relative changes in a linear model, when you still want to capture the magnitude of change and when you want to keep everything in the positive space.

Log normalization from numpy np.log(df['col'])

In [ ]:
wine = pd.read_csv('https://assets.datacamp.com/production/repositories/1816/datasets/9bd5350dfdb481e0f94eeef6acf2663452a8ef8b/wine_types.csv')
print(wine.shape)
wine.head()

(178, 14)

   Type  Alcohol  Malic acid  ...   Hue  OD280/OD315 of diluted wines  Proline
0     1    14.23        1.71  ...  1.04                          3.92     1065
1     1    13.20        1.78  ...  1.05                          3.40     1050
2     1    13.16        2.36  ...  1.03                          3.17     1185
3     1    14.37        1.95  ...  0.86                          3.45     1480
4     1    13.24        2.59  ...  1.04                          2.93      735

[5 rows x 14 columns]

In [ ]:
import numpy as np

# See variances on each column of the dataset
# feature Proline has excesively variance and/or different scales.
display(wine.var())

# We would need to apply Log normalization to that column.
# Print out the variance of the Proline column
print(wine["Proline"].var())

# Apply the log normalization function to the Proline column
wine["Proline_log"] = np.log(wine["Proline"])

# Check the variance of the normalized Proline column
print(wine["Proline_log"].var())
display(wine.var())

Type                                0.600679
Alcohol                             0.659062
Malic acid                          1.248015
Ash                                 0.075265
Alcalinity of ash                  11.152686
Magnesium                         203.989335
Total phenols                       0.391690
Flavanoids                          0.997719
Nonflavanoid phenols                0.015489
Proanthocyanins                     0.327595
Color intensity                     5.374449
Hue                                 0.052245
OD280/OD315 of diluted wines        0.504086
Proline                         99166.717355
Proline_log                         0.172314
dtype: float64

99166.71735542428
0.17231366191842018

Type                                0.600679
Alcohol                             0.659062
Malic acid                          1.248015
Ash                                 0.075265
Alcalinity of ash                  11.152686
Magnesium                         203.989335
Total phenols                       0.391690
Flavanoids                          0.997719
Nonflavanoid phenols                0.015489
Proanthocyanins                     0.327595
Color intensity                     5.374449
Hue                                 0.052245
OD280/OD315 of diluted wines        0.504086
Proline                         99166.717355
Proline_log                         0.172314
dtype: float64

## Scaling data StandardScaler

Scaling is a method of Standardization that's most useful when you are working with a dataset that contains continuous features that are on different scales and you are using a model that operates in some sort of **linear space** (like linearRegression or KNN)

Makes mean=0 variance=1 and transforms to approximately normal distribution. 
(to be normally distributed is a pre-requisite in scikit-learn)

StandardScaler

In [ ]:
# Import StandardScaler from scikit-learn
from sklearn.preprocessing import StandardScaler

# Create the scaler
scaler = StandardScaler()

# Apply the scaler to the DataFrame subset
wine_scaled = scaler.fit_transform(wine)
type(wine_scaled)

numpy.ndarray

# Feature engineering

What is feature engineering?

Creation of new features based on existing features. 

Insight into relationships between features.

Extract and expand data

Text data, timestamps that can be broken into days or months.

## Categorical variables

### Binary columns with .apply

In [ ]:
# For binary categorical columns, in example yes/no categorical variables

# df['col'] = df['col'].apply(lambda x: 1 if val == 'y' else 0)

   opportunity_id  content_id  ...     end_date_date    status
1            5008       37036  ...  February 01 2011  approved
2            5016       37143  ...   January 29 2011  approved
3            5022       37237  ...     March 31 2012  approved
4            5055       37425  ...  February 05 2011  approved
5            5056       37426  ...  February 12 2011  approved

[5 rows x 21 columns]

### Binary columns with LabelEncoder

In [ ]:
# transforms y and n into 0 or 1s

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['col'] = le.fit_transform(df['col'])

### One-hot encoding (dummies)

In [ ]:
pd.get_dummies(df['categorical_col'], drop_first=True)

## Engineering numerical features

Aggregate statistics and dates

In [ ]:
# Example convert string into datetime and select only the month
# You can also use attributes like .day to get the day and .year to get the year from datetime columns.

# First, convert string column to date column
volunteer["start_date_converted"] = pd.to_datetime(volunteer["start_date_date"])

# Extract just the month from the converted column
volunteer["start_date_month"] = volunteer["start_date_converted"].apply(lambda row: row.month)

# Take a look at the converted and new month columns
print(volunteer[["start_date_converted", "start_date_month"]].head())

NameError: ignored

## Text classification

### Regular Expressions

Transform string into parts of string or other types of features

How to extract data from strings: Regular Expression

In [ ]:
# For example we have a string a we need to stract de float in it

my_string = 'temperature:75.6 F'

import re

pattern = re.compile(r"\d+\.\d+")

temperature = re.search(pattern, my_string)

# If a value is returned, use group(0) to return the found value
print(temperature.group(0))

75.6

\d means we want to grab **digits**.

\d+ means we want to grab as many as possible


\. mean we want to grab the decimal point

and then there's another \d+

In [ ]:
my_string = 'temperature:75.6 F'

import re

re.findall(r"\d+\.\d+", my_string)

['75.6']

### Vectorizing TF-IDF Matrix

In [ ]:
hiking = pd.read_json('https://assets.datacamp.com/production/repositories/1816/datasets/4f26c48451bdbf73db8a58e226cd3d6b45cf7bb5/hiking.json')
hiking.head()

hiking.Length.head()

0     0.8 miles
1      1.0 mile
2    0.75 miles
3     0.5 miles
4     0.5 miles
Name: Length, dtype: object

In [ ]:
# Write a pattern to extract numbers and decimals
def return_mileage(length):
    pattern = re.compile("\d+\.\d+")
    
    # Search the text for matches
    mile = pattern.match(pattern, length)
    
    # If a value is returned, use group(0) to return the found value
    if mile is not None:
        return float(mile.group(0))

In [ ]:
# Apply the function to the Length column and take a look at both columns
hiking["Length_num"] = hiking["Length"].apply(return_mileage)
print(hiking[["Length", "Length_num"]].head())

TypeError: ignored

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

after vectorize text we look at word weights

tfidf_vec.vocabulary_

# Feature Selection

Difference with feature engineering is that feature selection doesn't create new features.

Improve model's performance.

The objective is to remove redundant features, noisy features,correlated (remember that linear models assume feature independence) or duplicated features.

# All pre-processing of UFO dataset

In [ ]:
ufo = pd.read_csv('https://assets.datacamp.com/production/repositories/1816/datasets/a5ebfe5d2ed194f2668867603b563963af4769e9/ufo_sightings_large.csv')
ufo.head()

               date              city state  ...    recorded         lat        long
0   11/3/2011 19:21         woodville    wi  ...  12/12/2011  44.9530556  -92.291111
1   10/3/2004 19:05         cleveland    oh  ...  10/27/2004  41.4994444  -81.695556
2   9/25/2009 21:00       coon rapids    mn  ...  12/12/2009  45.1200000  -93.287500
3  11/21/2002 05:45          clemmons    nc  ...  12/23/2002  36.0213889  -80.382222
4   8/19/2010 12:55  calgary (canada)    ab  ...   8/24/2010   51.083333 -114.083333

[5 rows x 11 columns]

In [ ]:
# Check the column types
print(ufo.dtypes)

# Change the type of seconds to float
ufo["seconds"] = ufo["seconds"].astype(float)

# Change the date column to type datetime
ufo["date"] = pd.to_datetime(ufo["date"])

# Check the column types
print(ufo[["seconds", "date"]].dtypes)

date               object
city               object
state              object
country            object
type               object
seconds           float64
length_of_time     object
desc               object
recorded           object
lat                object
long              float64
dtype: object
seconds           float64
date       datetime64[ns]
dtype: object

In [ ]:
# Check how many values are missing in the length_of_time, state, and type columns
print(ufo.isnull().sum())

# Keep only rows where length_of_time, state, and type are not null
ufo_no_missing = ufo[ufo["length_of_time"].notnull() & 
          ufo["state"].notnull() & 
          ufo["type"].notnull()]

# Print out the shape of the new dataset
print(ufo_no_missing.shape)
print(ufo_no_missing.isnull().sum())

#ufo_no_missing.drop('country', inplace=True,axis=1)
print(ufo_no_missing.isnull().sum())

date                0
city                9
state             419
country           680
type              159
seconds             0
length_of_time    143
desc                3
recorded            0
lat                 0
long                0
dtype: int64
(4283, 11)
date                0
city                0
state               0
country           392
type                0
seconds             0
length_of_time      0
desc                0
recorded            0
lat                 0
long                0
dtype: int64
date                0
city                0
state               0
country           392
type                0
seconds             0
length_of_time      0
desc                0
recorded            0
lat                 0
long                0
dtype: int64

In [ ]:
def return_minutes(time_string):
    
    # We'll use \d+ to grab digits and match it to the column values
    pattern = re.compile(r"\d+")
        
    # Use match on the pattern and column
    num = re.match(pattern, str(time_string))
    if num is not None:
        return int(num.group(0))
        

# Apply the extraction to the length_of_time column
ufo["minutes"] = ufo["length_of_time"].apply(return_minutes)

# Take a look at the head of both of the columns
print(ufo[["length_of_time", "minutes"]].head())

    length_of_time  minutes
0          2 weeks      2.0
1           30sec.     30.0
2              NaN      NaN
3  about 5 minutes      NaN
4                2      2.0

In [ ]:
# Check the variance of the seconds and minutes columns
print(ufo[["seconds", "minutes"]].var())

# Log normalize the seconds column
ufo["seconds_log"] = np.log(ufo["seconds"])

# Print out the variance of just the seconds_log column
print(ufo["seconds_log"].var())

seconds    3.156735e+10
minutes    8.709933e+02
dtype: float64
nan

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:
# There are couple of columns in the UFO dataset that need to be encoded 
# before they can be modeled through scikit-learn. 
# You'll do that transformation here, using both binary and one-hot 
# encoding methods.

# Use Pandas to encode us values as 1 and others as 0
ufo["country_enc"] = ufo["country"].apply(lambda val: 1 if val == "us" else 0)

# Print the number of unique type values
print(len(ufo["type"].unique()))

# Create a one-hot encoded set of the type values
type_set = pd.get_dummies(ufo["type"])

# Concatenate this set back to the ufo DataFrame
ufo = pd.concat([ufo, type_set], axis=1)

22

In [ ]:
# Look at the first 5 rows of the date column
print(ufo["date"].head())

# Extract the month from the date column
ufo["month"] = ufo["date"].dt.month

# Extract the year from the date column
ufo["year"] = ufo["date"].apply(lambda row: row.year)

# Take a look at the head of all three columns
print(ufo[["date", "month", "year"]].head())

0   2011-11-03 19:21:00
1   2004-10-03 19:05:00
2   2009-09-25 21:00:00
3   2002-11-21 05:45:00
4   2010-08-19 12:55:00
Name: date, dtype: datetime64[ns]
                 date  month  year
0 2011-11-03 19:21:00     11  2011
1 2004-10-03 19:05:00     10  2004
2 2009-09-25 21:00:00      9  2009
3 2002-11-21 05:45:00     11  2002
4 2010-08-19 12:55:00      8  2010

In [ ]:
ufo["desc"] = ufo["desc"].fillna(' ')

from sklearn.feature_extraction.text import TfidfVectorizer

# Take a look at the head of the desc field
print(ufo["desc"].head())

# Create the tfidf vectorizer object
vec = TfidfVectorizer()

# Use vec's fit_transform method on the desc field
desc_tfidf = vec.fit_transform(ufo["desc"])

# Look at the number of columns this creates.
print(desc_tfidf.shape)

0    Red blinking objects similar to airplanes or s...
1                 Many fighter jets flying towards UFO
2    Green&#44 red&#44 and blue pulses of light tha...
3    It was a large&#44 triangular shaped flying ob...
4       A white spinning disc in the shape of an oval.
Name: desc, dtype: object
(4935, 6433)

In [ ]:
# Check the correlation between the seconds, seconds_log, and minutes columns
print(ufo[["seconds", "seconds_log", "minutes"]].corr())

# Make a list of features to drop   
to_drop = ["city", "country", "date", "desc", "lat", "length_of_time", "long", "minutes", "recorded", "seconds", "state"]

# Drop those features
ufo_dropped = ufo.drop(to_drop, axis=1)

              seconds  seconds_log   minutes
seconds      1.000000     0.164613 -0.008161
seconds_log  0.164613     1.000000  0.110072
minutes     -0.008161     0.110072  1.000000